<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!-- Link to external css file -->
<link rel='stylesheet' href='/style.css'/>
<!-- Google Fonts -->

</head>
<body>
<h1>Login</h1>
<form name="login" method="POST" action="/login">
<br><br>
<label>Username:<input type="text" name="username" autofocus></label><br><br>
<label>Password:<input type="password" name="password"></label><br><br>
<input type="submit" value="Submit"><br><br>
</form>
</body>
</html>

