<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
<!-- Link to external Bootstrap file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <!-- Link to Stylesheet !-->
<link rel='stylesheet' href='/style.css'/>
<!-- Link to Google Fonts !-->
<link href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">

<body>
<h1>Login</h1>

<form name="login" method="POST" action="/login">
<br><br>
<label>Username:<input type="text" name="username" autofocus></label><br><br>
<label>Password:<input type="password" name="password"></label><br><br>
<input type="submit" value="Submit"><br><br>
</form>
</body>
</html>


