<!DOCTYPE html>
<html>
<head>
<!-- Link to external css file -->
<link rel='stylesheet' href='/style.css'/>
<!-- Google Fonts -->
<!-- <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
 -->

	<title>New Picture Post!</title>
</head>
<body>
<h1 id="new">Add a new Picture post!</h1>
<form method="POST" action="/posts">
	<input type="text" name="title" placeholder="Title"><br><br>
	<input type="text" name="location" placeholder="Location"><br><br>
	<!-- Image Upload form !-->
	<div id="ImageUpload" class="">
    <form action="uploadImages.php" method="post" onsubmit="return validateUploadFile();" enctype="multipart/form-data" >
    <p><input type="hidden" name="MAX_FILE_SIZE" value="100000" /></p>
      <div class="uploadFileprompt">
        <div class="span_left">Image 1 upload - Max. 100kb</div>
        <div class="span_right"><input type="file" name="txtUploadFile[]"/></div>
      </div>
	</div>
	<br><br>
	<textarea rows="20" cols="100" name="body">Comments</textarea><br><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>